<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vinspier.dao.ProductDao">

    <insert id="uploadProduct" parameterType="product">
        INSERT INTO product (pid, pname, market_price, shop_price, pimage, pdate, is_hot, pdesc, pflag, cid) VALUES
         (#{pid,jdbcType=VARCHAR},#{pname,jdbcType=VARCHAR},#{market_price,jdbcType=DOUBLE},#{shop_price,jdbcType=DOUBLE},
         #{pimage,jdbcType=VARCHAR},#{pdate,jdbcType=VARCHAR},#{is_hot,jdbcType=INTEGER},#{pdesc,jdbcType=VARCHAR},#{pflag,jdbcType=INTEGER},#{cid,jdbcType=VARCHAR})
    </insert>
    <update id="editProduct" parameterType="product">
        UPDATE product
        <set>
            pname = #{pname},
            market_price = #{market_price},
            shop_price = #{shop_price},
            pdesc = #{pdesc},
            cid = #{cid}
        </set>
        WHERE pid = #{pid}
    </update>
    <select id="findHotProducts"  resultType="product">
        SELECT * FROM product WHERE is_hot = #{0} AND pflag = #{1} ORDER BY pdate limit 15
    </select>

    <select id="findNewProducts" parameterType="int" resultType="product">
        SELECT * FROM product WHERE pflag = #{pflag} ORDER BY pdate limit 21
    </select>

    <select id="getById" parameterType="java.lang.String" resultType="product">
        SELECT * FROM product WHERE pid = #{pid}
    </select>

    <select id="getTotalRecord"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM product WHERE cid = #{0} AND pflag = #{1}
    </select>
    <select id="getTotalRecordCount"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM product
    </select>
    <select id="getTotalRecordState" parameterType="int" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM product WHERE pflag = #{0}
    </select>

    <select id="getOnCid"  resultType="product">
        SELECT * FROM product WHERE cid = #{0} AND pflag = #{1}
    </select>
    <select id="getByPage"  resultType="product">
        SELECT * FROM product WHERE cid = #{0} AND pflag = #{1} limit #{2},#{3}
    </select>
    <select id="getByPage_allPflag"  resultType="product">
        SELECT * FROM product limit #{0},#{1}
    </select>
    <select id="getByPage_pflagCondition"  resultType="product">
        SELECT * FROM product WHERE pflag = #{0} limit #{1},#{2}
    </select>

    <select id="searchByPage"  resultType="product">
        SELECT * FROM product WHERE (pname OR pdesc) LIKE "%"#{0}"%" AND pflag = #{1}
    </select>

    <update id="resetPflag" parameterType="int">
        UPDATE product
        <set>
            pflag = #{1}
        </set>
        WHERE pid = #{0}
    </update>
    <update id="resetIsHot" parameterType="int">
        UPDATE product
        <set>
            is_hot = #{1}
        </set>
        WHERE pid = #{0}
    </update>
    <delete id="deleteProduct" parameterType="String">
        DELETE FROM product WHERE pid = #{0}
    </delete>

</mapper>